# Build directories
build*

*sublime-workspace

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Sublime workspace files
*.sublime-workspace

# avoid directories named old
old*
